@*<div id="header">
    <a href="#home" target="_top">Inicio</a>
    <a href="#about" target="_top">Sobre mí</a>
    <a href="#portfolio" target="_top">Projectos</a>
    <a href="#contact" target="_top">Contacto</a>
</div>*@
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#home">Inicio</a>
        <a class="nav-link" href="#about">Sobre mí</a>
        <a class="nav-link" href="#portfolio">Proyectos</a>
        <a class="nav-link" href="#contact">Contacto</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>