/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Lilita+One&family=Orbitron:wght@400..900&display=swap');

:root{
  --font-family-Lilita: "Lilita One", Orbitron;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

section.light {
  position: relative;
}

section.dark {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

section.light {
  color: black;
  background: rgba(255, 255, 255, 0.35);
}

section img.background {
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

section#home{
  background-image: url("../images/background-home.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}

section#home h1, section#home h2{
  font-family: var(--font-family-Lilita);
}

section p{
  font-weight: 400;
}

.title-content{
  font-family: var(--font-family-Lilita);
}

.container .box{
  text-align: center;
}


li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4e567e;
}

img.social-icon {
  width: 30px;
  height: 30px;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.loading-progress {
  position: relative;
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 20vh auto 1rem auto;
}

.loading-progress circle {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 0.6rem;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.loading-progress circle:last-child {
  stroke: #1b6ec2;
  stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
  transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
  position: absolute;
  text-align: center;
  font-weight: bold;
  inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

.loading-progress-text:after {
  content: var(--blazor-load-percentage-text, "Loading");
}

@media screen and (min-width: 320px) {
  div#main {
    display: flex;
    flex-direction: column;
  }

  div#main section{
    width: 100%;
  }

  section.dark {
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.light{
    padding-top: 5rem;
    padding-bottom: 5rem; 
  }
  
  section img.background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
  }
  
  
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 2.4em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  section#home h2{
    font-weight: 200;
  }

  .title-content{
    font-size: 1.8em;
  }
  
  section#home #content-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 12%; 
  }

  section#home figure{
    max-width: 288px;
    border-radius: 2rem;
    border: 0.1rem solid;
    margin: 0 auto;
  }

  section#home figure img{
    width: 100%;
    border-radius: 2rem;
  }

  section#about #content-info-about{
    background-color: white;  
    padding: 4em; 
    margin: 3em auto; 
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 300;
  }
  
  p.large {
    font-size: 1.5rem;
  }
  
  p.small {
    font-size: 1rem;
  }
  
  hr {
    margin: 2.5rem;
  }

  .container {
    margin: 1.5em auto;
    box-sizing: border-box;
    display: grid;
  }

  .container .content-project{
    margin: 1em;
    border-radius: 2rem;
    border: 0.1rem solid rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    box-sizing: border-box;
  }

  .container .box{
    padding: 0.5rem;
  }

  .container .box h3
  {
    flex-basis: 2.2rem;
  }

  .container .box button{
    margin-top: 1rem;
  }

  .content-project figure{
    width: 100%;
  }

  figure img{
    width: 100%;
  }

  .content-project figure img{
    border-radius: 2rem 2rem 0 0;
  }

  #list-tech-project{
    margin: 1em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }

  #list-tech-project li{
    margin-top: 0.3em;
    margin-right: 0.3em;
    border-radius: 2rem;
    color: white;
    list-style-type: none;    
    background-color: rgba(78, 78, 78, 0.867);
    padding: .5em;
  }

  #tech-stack{
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 2em;
  }

  #tech-stack .content{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 2em;
  }

  #tech-stack .content figure{
    width: 100%;
  }
}


@media screen and (min-width: 450px){
  .container .content-project{
    width: 70%;
    margin: 1em auto;
  }

  #tech-stack{
    max-width: 408px;
    margin: 1em auto;
  }
}


@media screen and (min-width: 550px){
  .container{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .container .content-project{
    width: 100%;
  }
}


@media screen and (min-width: 768px){
  section#about #content-info-about{
    width: 90%; 
  }

  #tech-stack{
    max-width: 600px;
  }
}

@media screen and (min-width: 1024px){
  .container{
    display: grid;
    grid-template-columns: repeat(3, 301.33px);
    justify-content: center;
    gap: 16px;
  }
}