/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

section {
  position: relative;
}

section.dark {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

section.light {
  color: black;
  background: rgba(255, 255, 255, 0.35);
}

section img.background {
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

h1 , h2{
  font-family: "Cormorant Garamond", serif;
}

@media screen and (min-width: 320px) {
  div#main {
    display: flex;
    flex-direction: column;
  }

  div#main section{
    width: 100vw;
  }

  section.dark {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  section.light {
    padding: 8rem 0;
  }
  
  section img.background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
  }
  
  
  h1 {
    font-weight: 300;
    text-align: center;
    font-size: 2.4em;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-weight: 200;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1rem;
  }
  
  section#home #content-home{
    position: absolute; 
    top: 10%; 
  }

  section#home figure{
    max-width: 288px;
    border-radius: 2rem;
    border: 0.1rem solid;
    margin: 0 auto;
  }

  section#home figure img{
    width: 100%;
    border-radius: 2rem;
  }

  section#home #button{
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section#about #content-info-about
  {
    background-color: white;  
    padding: 4em; 
    margin: 3em auto; 
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 300;
  }
  
  p.large {
    font-size: calc(24px / 1em);
    width: 100%;
  }
  
  p.small {
    font-size: calc(15px / 1em);
    width: 100%;
  }
  
  hr {
    margin: 2.5rem;
  }

  .portfolio-container {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
  }

  .portfolio-hero {
    max-width: 40%;
    align-self: center;
  }

  .portfolio-hero #back-projects
  {
    height: 90%; 
    width: 100%; 
    object-fit: cover;
  }

  .container {
    margin: 1.5em auto;
    display: grid;
    grid-template-columns: calc(330px / 1em) calc(330px / 1em);
    grid-gap: 1.5em;
  }

  .container .box {
    border-radius: 2rem;
    padding: 24px 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
  }

  .container .box h3
  {
    flex-basis: 40px;
  }

}

@media screen and (min-width: 461px){
  section#home #button{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*@media screen and (min-width: 301px) and (max-width: 360px) {
  h1 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 4rem;
    margin: 0;
  }
}

@media screen and (min-width: 361px) and (max-width: 420px) {
  h1 {
    font-weight: 300;
    font-family: "Cormorant Garamond", serif;
    font-size: 5rem;
    margin: 0;
  }
}*/


li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #4e567e;
}


@media screen and (max-width: 420px) {
  .portfolio-container {
    flex-direction: column;
  }
}


@media screen and (max-width: 420px) {
  .portfolio-hero {
    max-width: 100%;
    align-self: center;
  }
}


@media screen and (max-width: 420px) {
  .container {
    margin: 20px auto;
    display: inline;
    grid-template-columns: 330px 300px;
    grid-gap: 20px;
  }
}

img.social-icon {
  width: 30px;
  height: 30px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }